*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Open Sans", sans-serif;

}

/* shared design */

#hero_area{
  background: url(/images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 23px 25px,bottom right;

background-color: #FFF8F3;
  padding-top:67px ;
}
.main_container{
width: 75%;
  max-width: 1140px;
margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border-radius: 5px;
  padding: 18px 39px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: bold;
}


.about{
  text-align: center;
}

.about h3{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.about p{
  margin-bottom: 30px;
  font-size: 18px;
  color: #757575;
}


/* individual design */

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul{
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}

.navigation ul li a{
  text-decoration: none;
  color:#474747 ;
}
.navigation h2{
  font-size: 45px;
  font-weight: 900;
  color:#181818 ;
}

.navigation h2 .primary{
  color: #FD6E0A;
}



.hero_content{

  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro{
    max-width: 573px; 
}

.intro h4{
  font-size: 45px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 5px;
}

.intro h2{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#181818;


}

.intro p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;

}

.button_area{
  margin-top: 30px;

}

.button_area button{
  margin-right: 12px;
}

#call_btn{
  border: 1px solid #FD6E0A;
  background-color: white;
  color: #FD6E0A;
}

.hero_image{
display: flex;
justify-content: flex-end;
max-width: 527px;
height: 633px;
}


.hero_image .image img{
  vertical-align:middle;
}

#about_area{
  padding-top:130px ;

}


.about_main{
  padding: 131px 156px 98px; 
    background-color:#FFF8F3 ;
    border-radius: 10px;
}







.about_info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


#experience_area{
  padding: 131px 0;
}

.exp_controls{
  padding: 0 157px 0;
}
.exp_cards{
  display: flex;
gap: 24px;
}

.card{
  max-width: 267px;
  border-radius: 5px;
box-shadow: 0 6px 50px #00000010;
padding: 30px;
}


.card img{
  width: 44px;
margin-bottom: 30px;
}

.card h4{
  color: #181818;
  font-weight: bold;
  font-size: 20px;
margin-bottom: 20px;
}


.card p{
  color: #757575;
  line-height: 28px;
  font-size: 16px;
}



.resume_headline{
  text-align: center;
}

.resume_headline h3{
  font-size: 35px;
font-weight: bold;
color:#181818 ;
}


.skill_container{

  padding-top: 131px;
  display:flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}



.download_button{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 131px;
}


.skill_container .my_edu{
font-size: 30px;
color:#474747 ;
margin-bottom: 30px
}

.edu_card{
  padding: 0 47px 30px 0;
  /* border: 1px solid red; */
}

.edu_card h4{
margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #474747;
}

.edu_card h6{
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 20px;
}

.edu_card p{
  line-height: 28px;
  color: #757575;
}

#port_footer{
  background-color: #FFF8F3;
  padding: 130px 0;
}


.container{
  display: flex;
  justify-content: space-between;
  gap: 117px;
}


.contact_area h3{
font-size: 35px;
font-weight: bold;
color: #181818;
margin-bottom: 20px;
}

.contact_area p{
line-height: 28px;
color:#474747;
margin-bottom: 30px;
}


.icons_area{
  display: flex;
  gap: 24px;
}


.form_area{
flex-basis: 40%;
max-width: 462px;
}

.form_area   h3{
  font-size: 35px;
  color: #181818;
  margin-bottom: 28px;
  font-weight: bold;
}  



.input_area input,textarea{
  width: 100%;
  border-radius: 5px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;

}

.contact_area{
  flex-basis: 49%;
  max-width: 562px;
}







