*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Open Sans", sans-serif;

}

#hero_area{
  background: url(/images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 23px 25px,bottom right;

background-color: #FFF8F3;
  padding-top:67px ;
}
.main_container{
width: 75%;
  max-width: 1140px;
margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border-radius: 5px;
  padding: 18px 39px;
  cursor: pointer;
  border: none;
}


.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul{
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}

.navigation ul li a{
  text-decoration: none;
  color:#474747 ;
}
.navigation h2{
  font-size: 45px;
  font-weight: 900;
  color:#181818 ;
}

.navigation h2 .primary{
  color: #FD6E0A;
}



.hero_content{

  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro{
    max-width: 573px; 
}

.intro h4{
  font-size: 45px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 5px;
}

.intro h2{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#181818;


}

.intro p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;

}

.button_area{
  margin-top: 30px;

}

.button_area button{
  margin-right: 12px;
}

#call_btn{
  border: 1px solid #FD6E0A;
  background-color: white;
  color: #FD6E0A;
}

.hero_image{
display: flex;
justify-content: flex-end;
max-width: 527px;
height: 633px;
}


.hero_image .image img{
  vertical-align:middle;
}




